<fieldset class="colours">
    <legend>Tags</legend>
    <div class="wheelContainer">
        <div class="wheel">
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
        </div>
        <div class="wheel">
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>

        </div>
        <div class="wheel">
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
            <a href="/" class="sector"></a>
        </div>
        <div class="wheel"></div>
    </div>
</fieldset>
