<button {{action 'rowAdd'}} class="rowAdd" data-visible={{showAdd}}>Rows <span>+</span></button>
<button {{action 'rowMinus'}} class="rowMinus" data-visible={{showMinus}}>Rows <span>-</span></button>
