<fieldset class="details">
    <legend>Details</legend>
    <section contenteditable="true" onkeyup={{action 'keyup'}} onfocus={{action 'checkEmpty'}} onpaste={{action 'paste'}}>
    </section>
</fieldset>
