<style>
    #phaseStampCustomization {
        left:{{left}}px;
        margin-left:5px;
        top:{{top}}px;
    }
</style>
{{#if spr}}
    <label for="sprintNumber">Sprint Number</label>
    {{input type="text" id="sprintNumber" key-up="updateSPR" value=getNum}}
{{else}}
    Some other custo
    <br />
    ok
{{/if}}
