<style>
    #phaseStampCustomization {
        left:{{left}}px;
        margin-left:5px;
        top:{{top}}px;
    }
</style>
<div id="phaseStampCustomization">
    {{#if spr}}
        sprint number
    {{else}}
        Some other custo
        <br />
        ok
    {{/if}}

</div>
