<fieldset class="colours">
    <legend>Tags</legend>
<div class="cont">
<div class="wheel">
    <a href="/" class="sector three"></a>
    <a href="/" class="sector four"></a>
    <a href="/" class="sector five"></a>
    <a href="/" class="sector six"></a>
    <a href="/" class="sector seven"></a>
    <a href="/" class="sector eight"></a>
    <a href="/" class="sector nine"></a>
    <a href="/" class="sector ten"></a>
    <a href="/" class="sector eleven"></a>
    <a href="/" class="sector twelve"></a>
    <a href="/" class="sector"></a>
    <a href="/" class="sector two"></a>

</div>
<div class="wheel wheel2">
    <a href="/" class="sector three"></a>
    <a href="/" class="sector four"></a>
    <a href="/" class="sector five"></a>
    <a href="/" class="sector six"></a>
    <a href="/" class="sector seven"></a>
    <a href="/" class="sector eight"></a>
    <a href="/" class="sector nine"></a>
    <a href="/" class="sector ten"></a>
    <a href="/" class="sector eleven"></a>
    <a href="/" class="sector twelve"></a>
    <a href="/" class="sector"></a>
    <a href="/" class="sector two"></a>
</div>

<div class="wheel wheel3">
</div>
</div>
</fieldset>
