<div class="menu">
    <button {{action "toggleView" on="click"}}>
        {{#if isAssignment}}
            <span class="timeOff">Time off</span>
        {{/if}}
        {{#if isTimeOff}}
            <span class="assignment">Assignment</span>
        {{/if}}
    </button>
</div>

{{#if isAssignment}}
    {{calendar-widget elementId="calendarWeekly" daily=false}}
{{/if}}

{{#if isTimeOff}}
    {{calendar-widget elementId="calendarDaily" daily=true}}
{{/if}}
{{yield}}
