<div class="menu">
    <button {{action "toggleView" on="click"}}>

        {{#if isWeeklyCalendar}}
            <span class="timeOff">Time off</span>
        {{/if}}
        {{#if isDailyCalendar}}
            <span class="assignment">Assignment</span>
        {{/if}}
    </button>
</div>

{{#if isWeeklyCalendar}}
    {{calendar-widget elementId="calendarWeekly" daily=false width=width}}
{{/if}}

{{#if isDailyCalendar}}
    {{calendar-widget elementId="calendarDaily" daily=true width=width}}
{{/if}}
