<div class="vacation counter"></div>
<div class="vacationCarryover counter"></div>
<div class="sick counter"></div>
<div class="personal counter"></div>
<div class="lieu counter"></div>
<div class="unofficial counter"></div>
