<div class="vacation">{{vacation}} Booked  &mdash; {{vacationToDate}} Taken</div>
<div class="vacationCarryover"></div>
<div class="sick"></div>
<div class="personal">{{personal}}</div>
<div class="lieu"></div>
<div class="unofficial"></div>
