<section class="resourceRow">
    {{resource-info}}

	<div class="row" data-view="assignment">
    </div>

	<div class="row" data-view="timeOff">
    </div>
</section>


<section class="resourceRow">
    {{resource-info}}

	<div class="row" data-view="assignment">
    </div>

	<div class="row" data-view="timeOff">
    </div>
</section>
