{{#each timeaway as |item|}}
    <a href="code/{{item}}" class="{{item}}" data-stamp="true" {{action "select" on="click"}} data-active="{{settings-default-tile 'timeaway' item}}"><span></span></a>
{{/each}}
