{{#each timeaway as |item|}}
    <a href="#" class="{{item}}" data-stamp="true" {{action "select" on="click" event=event}} data-active="{{config-default-tile config.timeawayTile item}}"><span></span></a>
{{/each}}
