// the view when choosing to edit the phase stamps
[data-phase-action="delete"],
[data-phase-action="shift"],
[data-phase-action="stamp"] {
    cursor:default;

    .tiles {
        opacity:.4;
    }

    .phases {
        [data-type="tile"] {
            &:after {
                border:1px solid rgba(255,255,255,.7);
                border-radius:2px;
                cursor:pointer;
                padding-top:2px;
            }

            &[data-phaselink="true"] {
                border:2px solid rgba(0,0,0,.7);
                background:#fff;
                color:#000;
                
                &:before {
                    text-shadow:none;
                }

                &.active {
                    box-shadow:0 0 2px 2px #fffc00;
                }
            }
        }
    }// phases

    .pointer {
        display:none;
    }
}

[data-phase-action="stamp"] {
    cursor:none;
    .phases {
        [data-type="tile"] {
            &:after {
                cursor:none;
            }
        }
    }

    .pointer {
        display:block;
        z-index:0;
    }
}

.phases {
    [data-type="tile"] {
        border:1px solid #000;
        padding-top:1px;

        &:hover {
            border-color:#fff;
            box-shadow:0 0 2px 5px rgba(0,0,0,.5);
        }
    }
}
