// editing actual assignments, not paiting into resource rows
#pageContainer[data-view="assignment"] {
    main {
        table.edit  {
            tbody {
                &:before {
                    content:"";
                    height:5px;
                    display:block;
                }

                &:hover, &.editing {
                   .hexbackground, .hexbackgroundArrow {
                        display:block;
                    }
                }

                .hexbackground { display:none; }
            }

            tr {
                border-style:solid;
                border-width:5px;

                .viewOptions {
                    padding-right:10px;
                    height:20px;
                    position:absolute;
                    border:20px solid transparent;
                    margin-left:-45px;
                    left:0;
                    top:-6px;

                    li {
                        top:10px;
                    }
                }

                .tileOptions {
                    &:hover {
                        [data-assignment]:before {
                            display:block;
                        }
                    }

                    li {
                        border:none;
                        padding:0;

                        &:before { display:none; }
                    }
                }
            }//tr

            td {
                padding:10px;
                position:relative;
                vertical-align:top;

                &.value {
                    font-weight:bold;
                    padding-right:0;

                    [data-type="value"], [contenteditable="true"] {
                        border:1px solid transparent;
                        clear:both;
                        float:left;
                        margin:2px 0;
                        padding:5px;
                    }

                    [contenteditable="true"] {
                        background:rgba(255,255,255, .4);
                        border:1px solid #888;

                        &:focus {
                            box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
                            color:#C55500;
                            outline:none;
                        }
                    }

                    .background {
                        text-transform:uppercase;
                        &:before {
                            content:"#";
                            margin-right:1px;
                        }

                        &[contenteditable="true"] {
                            padding-left:15px;

                            &:before {
                                margin-left:-10px;
                            }
                        }
                    }
                }//td.value

                &.headerPreview {
                    padding-left:80px;
                    vertical-align:middle;

                    [data-assignment]:before {
                        display:none;
                    }

                    &:after, &:before {
                        background:transparent;
                        content:"";
                        height:50%;
                        left:25px;
                        position:absolute;
                        width:10px;
                    }

                    &:after {
                        bottom:0;
                        transform:skew(-45deg);
                    }

                    &:before {
                        top:0;
                        transform:skew(45deg);
                    }
                }

                &.rowPreview {
                    border-right-style:solid;
                    border-right-width:1px;
                    vertical-align:middle;

                    [data-type="tile"] {
                        height:32px;
                        position:relative;
                        width:200px;
                    }
                }

                .hexbackground {
                    height:100%;
                    left:0px;
                    margin:0;
                    opacity:.3;
                    padding:0;
                    position:absolute;
                    top:0;
                    width:100%;
                    z-index:-1;
                }

                .hexbackgroundArrow {
                    border-color:transparent;
                    border-style:solid;
                    border-width:55px;
                    display:none;
                    height:0;
                    margin:0;
                    opacity:.3;
                    padding:0;
                    position:absolute;
                    right:-110px;
                    top:0;
                    width:0;
                }
            }//td
        }// table.edit
    }//main
}//pageContainer
