.resourceRow[data-type="assignment"] {

    &:not([data-active="true"]){
        background:none;
        border:none;

        &:hover {
            .info {
                z-index:6;
            }
        }

        .info {
            top:3px;
            z-index:5;

            .name {
                background:none;
                border:none;
                box-shadow:none;
                font-size:15px;
                padding:0 8px 2px 4px;
                text-shadow:1px 1px 5px #000;
            }

            .transit {
                float:left;
                &:before {
                    content:"Transit: ";
                }
            }

            section {
                border:1px solid #aaa;
                border-bottom:0;
                border-radius:2px;
                border-bottom-left-radius:0;
                border-bottom-right-radius:0;
                color:#fff;
                padding:2px 7px;
                margin:1px 2px 0 0;
                text-shadow:0 0 5px #000;

                &.nameContainer {
                    float:left;
                    margin-top:0;
                    padding:0;
                }
            }
        }
    }

    &[data-active="true"]{
        &:before {
            display:none;
        }

        .info {
            .name {
                background:none;
                border:none;
                font-size:15px;
                margin-top:-6px;
                text-shadow:1px 1px 5px #000;
            }
        }
    }

    &:before {
        content:'';
        height:20px;
        display:block;
    }

    &:hover {
        .info {
            .name {
                text-shadow:1px 1px 5px #000;
            }
        }
    }

    .row {
        border:1px solid #aaa;
    }
}

[data-view='roadmap'],
[data-view='timeaway'] {
    main {
        padding-top:165px;

        .resourceRow:not([data-active="true"]) .info .nameContainer {

            .long { display:none; }

            &:hover {
                .short {display:none;}
                .long { display:block; }
            }
        }

        @import "assignments-phase-stamps.scss";

        [data-active="true"][data-type="assignment"] {
            .tileOptions {
                background:#fff;
                border-radius:5px;
                border-top:1px solid #000;
                border-top-right-radius:0;
                float:left;
                margin-top:-12px;

                li {
                    border:0;
                    margin:0;
                    padding:0;
                    position:relative;

                    [data-assignment] {
                        cursor:default;
                    }
                }
            }//tileOptions

            @import "assignments-phase-list.scss";
            @import "assignments-phase-edit.scss";
            @import "assignments-row-management.scss";

            > [data-phase-action=""].row,
            > [data-phase-action="delete"].row,
            > [data-phase-action="shift"].row {
                background: repeating-linear-gradient(
                    90deg,
                    #d3d3d3,
                    #d3d3d3 15px,
                    #c1c1c1 15px,
                    #c1c1c1 30px
                );
            }
        }//data-active

        section.resourceRow[data-type="assignment"] {
            [data-type="tile"] {
                &[data-assignment] {
                    height:100%;
                }
            }
            .row {
                height:60px;

                // height for extra rows
                &[data-rows="1"] { height:75px; }
                &[data-rows="2"] { height:90px; }
                &[data-rows="3"] { height:105px; }
                &[data-rows="4"] { height:120px; }
                &[data-rows="5"] { height:135px; }
                &[data-rows="6"] { height:150px; }
                &[data-rows="7"] { height:165px; }
                &[data-rows="8"] { height:180px; }
                &[data-rows="9"] { height:195px; }
                &[data-rows="10"] { height:210px; }
                &[data-rows="11"] { height:225px; }
                &[data-rows="12"] { height:240px; }
                &[data-rows="13"] { height:255px; }
                &[data-rows="14"] { height:270px; }
                &[data-rows="15"] { height:285px; }
                &[data-rows="16"] { height:300px; }
                &[data-rows="17"] { height:315px; }
                &[data-rows="18"] { height:330px; }
                &[data-rows="19"] { height:345px; }
                &[data-rows="20"] { height:360px; }

                // vertical position of tiles
                [data-type="tile"] {
                    &[data-y="0"]{ top:0; }
                    &[data-y="15"]{ top:15px; }
                    &[data-y="30"]{ top:30px; }
                    &[data-y="45"]{ top:45px; }
                    &[data-y="60"]{ top:60px; }
                    &[data-y="75"]{ top:75px; }
                    &[data-y="90"]{ top:90px; }
                    &[data-y="105"]{ top:105px; }
                    &[data-y="120"]{ top:120px; }
                    &[data-y="135"]{ top:135px; }
                    &[data-y="150"]{ top:150px; }
                    &[data-y="165"]{ top:165px; }
                    &[data-y="180"]{ top:180px; }
                    &[data-y="195"]{ top:195px; }
                    &[data-y="210"]{ top:210px; }
                    &[data-y="225"]{ top:225px; }
                    &[data-y="240"]{ top:240px; }
                    &[data-y="255"]{ top:255px; }
                    &[data-y="270"]{ top:270px; }
                    &[data-y="285"]{ top:285px; }
                    &[data-y="300"]{ top:300px; }
                    &[data-y="315"]{ top:315px; }
                    &[data-y="330"]{ top:330px; }
                    &[data-y="345"]{ top:345px; }
                }
            }
        }
    }//main

    [data-type="todayDateLine"] {
        &:before {
            height:20px;
        }
    }

}//data-view

[data-view='timeaway'] {
    main {
        [data-view="roadmap"] {
            background: repeating-linear-gradient(
                -50deg,
                rgba(255,255,255,.2),
                rgba(255,255,255,.2) 10px,
                #d9d9d9 10px,
                #d9d9d9 20px
            );

            &:hover {
                .dateLine {
                    border:none;
                    height:100%;
                }
            }

            .dateLine {
                box-sizing:content-box;
                height:100%;
                padding-bottom:2px;

                &:after, &:before {
                    display:none;
                }
            }

            .phases {
                [data-type="tile"] {
                    z-index:2 !important;
                }
            }
        }//data-view

        .assignmentViewContainer {
            top:163px;
        }
    }
}

// if the Quarter doesn't start on Monday, need to offset the phases during the daily view
#pageContainer[data-view="timeaway"]{
    &[data-q1-start] {
        .phases {
            position:relative;
        }
    }
    &[data-q1-start="T"] { // Q1 starts on Tuesday,
        .phases { left:60px; }
        .resourceRow [data-assignment] { padding-left:60px; }
    }
    &[data-q1-start="W"] { // Q1 starts on Wednesday
        .phases { left:45px; }
        .resourceRow [data-assignment] { padding-left:45px; }
    }
    &[data-q1-start="R"] { // Q1 starts on Thursday
        .phases { left:30px; }
        .resourceRow [data-assignment] { padding-left:30px; }
    }
    &[data-q1-start="F"] { // Q1 starts on Friday
        .phases { left:15px; }
        .resourceRow [data-assignment] { padding-left:15px; }
    }
}
