[data-view="assignment"] {
    [data-type="tile"] {
        &[data-phase] {
            background:transparent;

            &:after {
                background:rgba(0, 0, 0, 0.4);
                content:"";
                cursor:none;
                left:0;
                line-height:100%;
                padding:0 2px;
                position:absolute;
                top:0;
                white-space:nowrap;
                z-index:1;
            }

            &:hover {
                &:before { display:none; }
            }
        }//data-phase

        &[data-phase="BAT"] { &:after { content:"BAT"; } }
        &[data-phase="DIT"] { &:after { content:"DIT"; } }
        &[data-phase="FRZ"] { &:after { content:"FRZ"; } }
        &[data-phase="PLT"] { &:after { content:"PLT"; } }
        &[data-phase="PRD"] { &:after { content:"PRD"; } }
        &[data-phase="REQ"] { &:after { content:"Req"; } }
        &[data-phase="SIT"] { &:after { content:"SIT"; } }
        &[data-phase="SPR"] { &:after { content:"Spr"; } }
        &[data-phase="UAT"] { &:after { content:"UAT"; } }
        &[data-phase="WTY"] { &:after { content:"WTY"; } }
    }//data-type
}//data-view
