 form {
     #numWeeks {
         width:3em;
     }

     fieldset {
        border:1px solid #888;
        padding:5px;
        margin-bottom:10px;

        legend {
            background:#fff;
            padding:0 5px 0 0;
        }

     }

     input, select {
         border:1px solid #2D91FD;
     }

     div.form-group {
         margin-bottom:10px;

         label {
             display:block;
             margin-bottom:4px;

             &:after {
                 content:": ";
             }
         }
     }// div

     input {
         &[type="submit"] {
             background:#3B3FFC;
             border:1px solid #ddd;
             border-radius:5px;
             color:#fff;
             opacity:.7;

             &:focus {
                 border-color:#fff;
                 box-shadow:0 0 2px 2px rgba(0,0,0,.5);
                 opacity:1;
                 outline:none;
             }
         }
     }

     .duration {

         .form-group {
             float:left;
             margin-right:10px;

             &:last-child {
                 margin-right:0;
             }
         }
     }

     .dateSummary {
        font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
        
         div {
             margin-bottom:5px;
         }
     }
 }// form
