[data-type="tile"] {
    &[data-phase] {
        background:rgba(0, 0, 0, 0.4);
        height:auto !important;
        line-height:100%;
        padding:0 2px;
        white-space:nowrap;
        width:auto;

        &:before {
            content:"";
            cursor:none;
            left:0;
            line-height:100%;
            top:0;
            white-space:nowrap;
            z-index:1;
        }

        &:hover {
            &:after { display:none; }
        }

        &.customize {
            border:1px solid #ff0000 !important;
            box-shadow:0 0 5px 5px rgba(255,0,0,.5);
        }

        span {
            &.text {
                &:before {
                    content:': ';
                }
            }
        }
    }//data-phase

    &[data-phase="BAT"] { &:before { content:"BAT"; } }
    &[data-phase="DIT"] { &:before { content:"DIT"; } }
    &[data-phase="FRZ"] { &:before { content:"FRZ"; } }
    &[data-phase="PLT"] { &:before { content:"PLT"; } }
    &[data-phase="PRD"] { &:before { content:"PRD"; } }
    &[data-phase="REQ"] { &:before { content:"Req"; } }
    &[data-phase="SIT"] { &:before { content:"SIT"; } }
    &[data-phase="SPR"] {
        &:before { content:"Spr"; }
        &[data-num] {
            &:before {
                content:'Spr: ' attr(data-num);
            }

        }
    }
    &[data-phase="UAT"] { &:before { content:"UAT"; } }
    &[data-phase="WTY"] { &:before { content:"WTY"; } }
}//data-type
