&[data-colour="FC6360"] { // apple red
    background:rgba(252,99,96,.8);
    &:after {
        border-left:2px solid #FC3D39;
        border-right:2px solid #FC3D39;
    }
    &:hover {
        background:#FC3D39;
    }
}
&[data-colour="F7A550"] { // apple orange
    background:rgba(247,165,80,.8);
    &:after {
        border-left:2px solid #F58F25;
        border-right:2px solid #F58F25;
    }
    &:hover {
        background:#F58F25;
    }
}
&[data-colour="F3CD56"] { // apple yellow
    background:rgba(243,205,86,.8);
    &:after {
        border-left:2px solid #F1C230;
        border-right:2px solid #F1C230;
    }
    &:hover {
        background:#F1C230;
    }
}
&[data-colour="70CA57"] { // apple green
    background:rgba(112,202,87,.8);
    &:after {
        border-left:2px solid #4DBD2E;
        border-right:2px solid #4DBD2E;
    }
    &:hover {
        background:#4DBD2E;
    }
}
&[data-colour="51B9F1"] { // apple blue
    background:rgba(81,185,241,.8);
    &:after {
        border-left:2px solid #26A8EE;
        border-right:2px solid #26A8EE;
    }
    &:hover {
        background:#26A8EE;
    }
}
&[data-colour="CF8BDF"] { // apple purple
    background:rgba(207,139,223,.8);
    &:after {
        border-left:2px solid #CA7FDC;
        border-right:2px solid #CA7FDC;
    }
    &:hover {
        background:#CA7FDC;
    }
}


//pastels
&[data-colour="BAB9C3"] { // grey
    background:rgba(186,185,195,1);
    &:after {
        border-left:2px solid #ADADB8;
        border-right:2px solid #ADADB8;
        &:hover {
            background:#ADADB8;
        }
    }
}
&[data-colour="FFAEAE"] { // red
    background:rgba(255,174,174,1);
    &:after {
        border-left:2px solid #FF9AAE;
        border-right:2px solid #FF9AAE;
    }
    &:hover {
        background:#FF9AAE;
    }
}
&[data-colour="FFBB94"] { // orange
    background:rgba(255,187,148,1);
    &:after {
        border-left:2px solid #FFAC94;
        border-right:2px solid #FFAC94;
    }
    &:hover {
        background:#FFAC94;
    }
}
&[data-colour="FFF0AA"] { // yellow
    background:rgba(255,240,170,1);
    &:after {
        border-left:2px solid #FFE6AA;
        border-right:2px solid #FFE6AA;
    }
    &:hover {
        background:#FFE6AA;
    }
}
&[data-colour="B0E57C"] { // green
    background:rgba(176,229,124,1);
    &:after {
        border-left:2px solid #B0DB7C;
        border-right:2px solid #B0DB7C;
    }
    &:after {
        background:#B0DB7C;
    }
}
&[data-colour="B4D8E7"] { // blue
    background:rgba(180,216,231,1);
    &:after {
        border-left:2px solid #A0D8E7;
        border-right:2px solid #A0D8E7;
    }
    &:hover {
        background:#A0D8E7;
    }
}
&[data-colour="CCAFE7"] { // purple
    background:rgba(204,175,231,1);
    &:after {
        border-left:2px solid #CCA5E7;
        border-right:2px solid #CCA5E7;
    }
    &:hover {
        background:#CCA5E7;
    }
}
