[data-route='roadmap.index'] {
    .resourceRow[data-type="assignment"] {
        background:none;
        border:none;

        &[data-active="true"]{
            &:before {
                display:none;
            }

            .info {
                .name {
                    background:none;
                    border:none;
                    margin-top:-2px;
                    text-shadow:1px 1px 5px #000;
                }
            }
        }

        &:before {
            content:'';
            height:20px;
            display:block;
        }

        &:hover {
            .info {
                .name {
                    text-shadow:1px 1px 5px #000;
                }
            }
        }

        .row {
            border:1px solid #aaa;
        }

        .info {
            top:3px;
            z-index:6;

            .name {
                border:1px solid #aaa;
                border-bottom:0;
                border-bottom-left-radius:0;
                border-bottom-right-radius:0;
                box-shadow:none;
                font-size:15px;
                padding:0 8px 2px 4px;
                text-shadow:1px 1px 5px #000;
            }
        }
    }
}
[data-view='roadmap'],
[data-view='timeaway'] {
    main {
        padding-top:165px;

        .resourceRow:not([data-active="true"]) .info {

            .long { display:none; }

            &:hover {
                .short {display:none;}
                .long { display:block; }
            }
        }

        @import "assignments-phase-stamps.scss";

        [data-active="true"][data-type="assignment"] {
            .tileOptions {
                background:#fff;
                border-radius:5px;
                border-top:1px solid #000;
                border-top-right-radius:0;
                float:left;
                margin-top:-11px;

                li {
                    border:0;
                    margin:0;
                    padding:0;
                    position:relative;

                    [data-assignment] {
                        cursor:default;
                    }
                }
            }//tileOptions
            [data-type="tile"] {
                &[data-phase] {
                    &:hover div.duration:before,
                    &:hover div.details,
                    div.desc:hover:after {
                        display:none; // do not display custom phase info active
                    }
                }
            }

            @import "assignments-phase-list.scss";
            @import "assignments-phase-edit.scss";
            @import "assignments-row-management.scss";

            > [data-phase-action=""].row,
            > [data-phase-action="delete"].row,
            > [data-phase-action="shift"].row {
                background: repeating-linear-gradient(
                    90deg,
                    #d3d3d3,
                    #d3d3d3 15px,
                    #c1c1c1 15px,
                    #c1c1c1 30px
                );
            }
        }//data-active

        section.resourceRow[data-type="assignment"] {
            [data-type="tile"] {
                &[data-assignment] {
                    height:100%;
                }
            }
            &:not([data-active="true"]) {
                .row {
                    height:40px;

                    // height for extra rows when not actively editing assignment
                    &[data-rows="1"] { height:50px; }
                    &[data-rows="2"] { height:60px; }
                    &[data-rows="3"] { height:70px; }
                    &[data-rows="4"] { height:80px; }
                    &[data-rows="5"] { height:90px; }
                    &[data-rows="6"] { height:100px; }
                    &[data-rows="7"] { height:110px; }
                    &[data-rows="8"] { height:120px; }
                    &[data-rows="9"] { height:130px; }
                    &[data-rows="10"] { height:140px; }

                    // vertical position of tiles
                    [data-type="tile"] {
                        &[data-y="0"]{ top:0; }
                        &[data-y="15"]{ top:10px; }
                        &[data-y="30"]{ top:20px; }
                        &[data-y="45"]{ top:30px; }
                        &[data-y="60"]{ top:40px; }
                        &[data-y="75"]{ top:50px; }
                        &[data-y="90"]{ top:60px; }
                        &[data-y="105"]{ top:70px; }
                        &[data-y="120"]{ top:80px; }
                        &[data-y="135"]{ top:90px; }
                        &[data-y="150"]{ top:100px; }
                        &[data-y="165"]{ top:110px; }
                        &[data-y="180"]{ top:120px; }
                        &[data-y="195"]{ top:130px; }
                    }
                }
            }// ot active

            // height for extra rows when actively editing assignment
            &[data-active="true"] {
                .row {
                    &[data-rows="1"] { height:75px; }
                    &[data-rows="2"] { height:90px; }
                    &[data-rows="3"] { height:105px; }
                    &[data-rows="4"] { height:120px; }
                    &[data-rows="5"] { height:135px; }
                    &[data-rows="6"] { height:150px; }
                    &[data-rows="7"] { height:165px; }
                    &[data-rows="8"] { height:180px; }
                    &[data-rows="9"] { height:195px; }
                    &[data-rows="10"] { height:210px; }
                }
            }// active row
        }
    }//main

    [data-type="todayDateLine"] {
        &:before {
            height:20px;
        }
    }

}//data-view

[data-view='timeaway'][data-route="roadmap.index"] {
    main {
        [data-view="roadmap"] {
            background: repeating-linear-gradient(
                -50deg,
                rgba(255,255,255,.2),
                rgba(255,255,255,.2) 10px,
                #d9d9d9 10px,
                #d9d9d9 20px
            );

            &:hover {
                .dateLine {
                    border:none;
                }
            }

            .dateLine {
                box-sizing:content-box;
                height:100%;
                padding-bottom:2px;

                &:after, &:before {
                    display:none;
                }
            }

            .phases {
                [data-type="tile"] {
                    z-index:2;
                }
            }
        }//data-view

        .assignmentViewContainer {
            top:163px;
        }
    }
}

// if the Quarter doesn't start on Monday, need to offset the phases during the daily view
#pageContainer[data-view-team="true"]{
    &[data-q1-start] {
        .phases {
            position:relative;
        }
    }
    &[data-q1-start="T"] { // Q1 starts on Tuesday,
        .phases { left:-15px; }
    }
    &[data-q1-start="W"] { // Q1 starts on Wednesday
        .phases { left:-30px; }
    }
    &[data-q1-start="R"] { // Q1 starts on Thursday
        .phases { left:-45px; }
    }
    &[data-q1-start="F"] { // Q1 starts on Friday
        .phases { left:-60px; }
    }
}
