[data-type="tile"] {
    &[data-phase] {
        background:rgba(0, 0, 0, 0.4);
        height:auto !important;
        line-height:100%;
        padding:0 2px;
        width:auto;
        z-index:1;

        &:before {
            content:"";
            cursor:none;
            left:0;
            line-height:100%;
            text-shadow:2px 1px 5px #000;
            top:0;
            z-index:1;
        }

        &:hover {
            background:#000;
            z-index:4 !important;

            &:after { display:none; }

            span {
                &.duration {
                    white-space:pre;
                    &:before {
                        background:#ff0000;
                        border:1px solid #fff;
                        box-shadow:0 0 5px 2px rgba(0,0,0,.6);
                        color:#fff;
                        display:block;
                        margin-right:2px;
                        padding:2px;
                        position:absolute;
                        right:100%;
                        top:0;

                    }

                    &[data-weeks] {
                        &:not([data-days]):before {
                            content:attr(data-weeks) ' Week(s)';
                        }

                        &[data-days]:before {
                            content:attr(data-weeks) ' Week(s) \A' attr(data-days) ' Day(s)';
                        }
                    }
                }
            }
        }

        &.customize {
            border:1px solid #ff0000 !important;
            box-shadow:0 0 5px 5px rgba(255,0,0,.5);
        }

        span {
            &.desc {
                cursor:none;
                text-shadow:2px 1px 5px #000;

                &:before {
                    content:' ';
                }
                &:hover {
                    position:relative;
                    &[data-long]:not([data-long=""]){
                        &:after {
                            background:#ff0000;
                            border:1px solid #fff;
                            box-shadow:0 0 5px 2px rgba(0,0,0,.6);
                            color:#fff;
                            content:attr(data-long);
                            cursor:none;
                            display:block;
                            left:0;
                            margin-left:2px;
                            padding:2px 5px;
                            position:absolute;
                            text-shadow:none;
                        }
                    }
                }//hover
            }//desc
        }//span
    }//data-phase

    &[data-phase]:not([data-phase=""]) {
        &:before {
            content:attr(data-phase);
        }
        &[data-num]:not([data-num=""]) {
            &:before {
                content:attr(data-phase) ' ' attr(data-num);
            }
        }
    }

    &[data-phase="UAT"] { &:before { content:"UAT"; } }
    &[data-phase="WTY"] { &:before { content:"WTY"; } }
}//data-type
