// the view when choosing to edit the phase stamps
[data-phase-action="delete"],
[data-phase-action="shift"],
[data-phase-action="stamp"] {
    cursor:default;

    .tiles {
        opacity:.4;
    }

    .phases {
        [data-type="tile"] {
            &:after {
                border:1px solid rgba(255,255,255,.7);
                border-radius:2px;
                padding-top:2px;
            }

            &[data-phaselink="true"] {
                background:#fff;
                background-clip:padding-box;
                border-color:transparent;
                color:#000;

                &:after {
                    box-shadow:0 0 2px 2px rgba(255,255,255,.7);
                }

                &:before {
                    text-shadow:1px 1px 5px #fff;
                }

                &:hover {
                    &:after {
                        display:block;
                        box-shadow:
                            0 0 4px 2px hsl(50, 100%, 50%),
                            0 0 4px 3px hsl(1, 100%, 60%);
                    }
                }

                &.active {
                    z-index:2;

                    &:after {
                        box-shadow:
                            0 0 2px 2px hsl(1, 100%, 50%),
                            0 0 2px 3px hsl(50, 100%, 60%);
                        text-shadow:1px 1px 5px #fff;
                    }
                }

                .desc {
                    text-shadow: 2px 1px 5px #fff;
                }
            }//data-phaselink
        }
    }// phases

    .pointer {
        display:none;
    }
}

[data-phase-action="stamp"] {
    cursor:none;
    .phases {
        [data-type="tile"] {
            &:after {
                cursor:none;
            }
        }
    }

    .pointer {
        display:block;
        z-index:0;
    }
}

.phases {
    [data-type="tile"] {
        border:1px solid #000;
        padding-top:1px;

        &:hover {
            &:after {
                border-color:#fff;
                box-shadow:0 0 2px 5px rgba(0,0,0,.5);
            }
        }
    }
}
