// editing actual assignments, not paiting into resource rows
#pageContainer[data-view="roadmap"][data-route="roadmap.edit"] {
    header {
        height:55px;
        width:100%;
    }
    main {
        background:#fff;
        border-bottom:none;
        padding-top:80px;
        padding-bottom:250px;

        table.edit {
            tbody {
                &.hidden {
                    &:hover {
                        tr td.value .short {
                            box-shadow:2px 2px 10px 1px rgba(255,255,255,.5);
                            opacity:1;
                        }
                    }

                    .arrow:before,
                    .background,
                    .lock,
                    .long { display:none; }

                    .viewOptions {
                        top:-12px;
                    }

                    tr {
                        border-width:2px;

                        td {
                            padding:2px 10px;

                            &:after {
                                background:rgba(0,0,0,.8) !important;
                                content:"";
                                display:block;
                                height:100%;
                                left:0;
                                position:absolute;
                                top:0;
                                transform:none;
                                width:100%;
                                z-index:2;
                            }

                            &.value {
                                .short {
                                    background:red;
                                    border:1px solid #fff;
                                    border-radius:2px;
                                    color:#FFF;
                                    margin-top:7px;
                                    opacity:.5;
                                    padding:2px;
                                    position:relative;
                                    text-shadow:0px 1px #000;
                                    z-index:3;
                                }
                            }
                        }//td
                    }//tr
                }//hidden

                &:before {
                    content:"";
                    height:5px;
                    display:block;
                }

                &:hover, &.editing {
                   .hexbackground, .hexbackgroundArrow, .hexbackgroundArrow:after {
                        display:block;
                    }
                }

                &:focus {
                    outline:none;
                }

                .hexbackground { display:none; }
            }//tbody

            tr {
                border-style:solid;
                border-width:5px;

                .viewOptions {
                    padding-right:10px;
                    height:20px;
                    position:absolute;
                    border:20px solid transparent;
                    border-right:0;
                    margin-left:-45px;
                    left:-4px;
                    top:-6px;
                    width:auto;

                    li {
                        float:none;
                        height:100%;

                        a {
                            opacity:1;
                        }
                    }
                }

                .tileOptions {
                    display:block;
                    &:hover {
                        [data-assignment]:after {
                            display:block;
                        }
                    }

                    li {
                        border:none;
                        padding:0;
                        position:relative;

                        &:before { display:none; }
                    }
                }

                &.new {
                    animation:fadeIn 2000ms linear;
                    @keyframes fadeIn {
                        0%{
                            background:rgba(255,102,255,.5);
                            opacity:0;
                        }
                        40% {
                            background:rgba(204,255,102,.5);
                        }
                        50% {
                            background:rgba(255,255,102,.5);
                        }
                        100% {
                            opacity:1;
                        }
                    }
                }//new
            }//tr

            td {
                padding:10px;
                position:relative;
                vertical-align:top;

                &.value {
                    font-weight:bold;
                    padding-right:0;

                    [data-type="value"], [contenteditable="true"] {
                        border:1px solid transparent;
                        clear:both;
                        float:left;
                        margin:2px 0;
                        padding:5px;
                        position:relative;
                    }

                    [contenteditable="true"] {
                        background:rgba(255,255,255, .4);
                        border:1px solid #888;

                        &:focus {
                            box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
                            color:#C55500;
                            outline:none;
                        }
                    }

                    .background {
                        text-transform:uppercase;
                        &:before {
                            content:"#";
                            margin-right:1px;
                        }

                        &[contenteditable="true"] {
                            padding-left:15px;

                            &:before {
                                margin-left:-10px;
                            }
                        }
                    }

                    .long:empty:before {
                        content:"Long Description";
                        font-style:italic;
                    }

                    .short:empty:before {
                        content:"Short Description";
                        font-style:italic;
                    }
                }//td.value

                &.arrow {
                    min-width:60px;
                    overflow:hidden;

                    &:after, &:before {
                        background:transparent;
                        content:"";
                        height:50%;
                        left:25px;
                        position:absolute;
                        width:10px;
                    }

                    &:after {
                        bottom:0;
                        transform:skew(-45deg);
                        padding-bottom:20px;
                        bottom:-20px;
                    }

                    &:before {
                        top:0;
                        transform:skew(45deg);
                        padding-top:20px;
                        top:-20px;
                    }
                }

                &.headerPreview {
                    vertical-align:middle;

                    [data-assignment]:before {
                        display:none;
                    }
                }

                &.rowPreview {
                    border-right-style:solid;
                    border-right-width:1px;
                    vertical-align:middle;

                    [data-type="tile"] {
                        height:32px;
                        position:relative;
                        width:200px;
                    }
                }

                .hexbackground {
                    height:100%;
                    left:0px;
                    margin:0;
                    opacity:.3;
                    padding:0;
                    position:absolute;
                    top:0;
                    width:100%;
                }

                .hexbackgroundArrow {
                    float:left;
                    height: 0;
                    left:65px;
                    margin:0.5%;
                    margin-top:-2px;
                    padding-top: 5%;
                    padding-bottom: 5%;
                    padding-left: 5%;
                    position:absolute;
                    top:50%;
                    width: 0;

                    &:after {
                        border-bottom: 500px solid transparent;
                        border-left-width:500px;
                        border-left-style:solid;
                        border-left-color:transparent;
                        border-top: 500px solid transparent;
                        content: "";
                        display:none;
                        height: 0;
                        margin-left:-500px;
                        margin-top:-500px;
                        opacity:.3;
                        width: 0;
                    }
                }
            }//td
        }// table.edit
    }//main
}//pageContainer
