[data-type="tile"] {
    &[data-phase] {
        background:rgba(0, 0, 0, 0.4);
        box-sizing:content-box;
        height:auto !important;
        line-height:100%;
        width:auto;
        z-index:1;

        &:after {
            background:none;
            border-left:2px solid rgba(0,0,0,.4);
            border-right:2px solid rgba(0,0,0,.4);
            box-sizing:border-box;
            display:block;
            content:'';
            height:100%;
            left:0;
            padding:0;
            position:absolute;
            top:0;
            width:100%;
            z-index:0;
        }

        &:before {
            content:"";
            cursor:none;
            left:0;
            line-height:100%;
            position:relative;
            text-shadow:2px 1px 5px #000;
            top:0;
            z-index:1;
        }

        @import "assignments-phase-colour-tags.scss";

        &:hover {
            background:#000;
            z-index:4 !important;

            &:after { display:none; }

            div {
                &.duration {
                    white-space:pre;
                    &:before {
                        background:#ff0000;
                        border:2px solid #fff;
                        box-shadow:0 0 5px 2px rgba(0,0,0,.6);
                        color:#fff;
                        display:block;
                        margin-right:2px;
                        padding:2px;
                        position:absolute;
                        right:100%;
                        top:100%;

                    }

                    &[data-weeks] {
                        &:not([data-days]):before {
                            content:attr(data-weeks) ' Week(s)';
                        }

                        &[data-days]:before {
                            content:attr(data-weeks) ' Week(s) \A' attr(data-days) ' Day(s)';
                        }
                    }
                }
            }

            @import "assignments-phase-details.scss";
            .details {
                border:2px solid #fff;
                display:block;
                left:-2px;
                padding-bottom:5px;
                position:absolute;
                text-align:left;
                white-space:nowrap;

                div {
                    display:block;
                    margin-left:5px !important;
                    padding:5px 5px 0 10px;
                }
            }
        }

        &.customize {
            z-index:2;

            &:after {
                box-shadow:
                    0 0 4px 2px hsl(50, 100%, 50%),
                    0 0 4px 3px hsl(1, 100%, 60%);
            }
        }

        div {
            display:inline;

            &.desc {
                cursor:none;
                position:relative;
                text-shadow:2px 1px 5px #000;
                z-index:1;

                &:before {
                    content:' ';
                }
                &:hover {
                    position:relative;
                    z-index:1;
                    &[data-long]:not([data-long=""]){
                        &:after {
                            background:#ff0000;
                            border:1px solid #fff;
                            box-shadow:2px 0 2px 2px rgba(0,0,0,.6);
                            color:#fff;
                            content:attr(data-long);
                            cursor:none;
                            display:block;
                            left:0;
                            margin:-1px 0 0 3px;
                            padding:2px 5px;
                            position:absolute;
                            top:0;
                            text-shadow:none;
                            white-space:nowrap;
                        }
                    }
                }//hover
            }//desc
        }//div

        .details {
            display:none;
        }
    }//data-phase

    &[data-phase]:not([data-phase=""]) {
        &:before {
            content:attr(data-phase);
        }
        &[data-num]:not([data-num=""]) {
            &:before {
                content:attr(data-phase) ' ' attr(data-num);
            }
        }
    }

    &[data-phase="UAT"] { &:before { content:"UAT"; } }
    &[data-phase="WTY"] { &:before { content:"WTY"; } }
}//data-type
