.row { counter-reset: lieuCounter personalCounter unofficialCounter vacationCarryoverCounter; }

.counters {
    background:#fff;
    border:1px solid #fff;
    box-shadow:1px 1px 5px 0 rgba(0, 0, 0, .8);
    cursor:default;
    display:none;
    margin:0 0 0 10px;
    white-space:nowrap;

    div {
        color:#fff;
        display:inline-block;
        float:left;
        font-size:11px;
        margin:1px;
        padding:1px 2px 0 2px;
        white-space:nowrap;

        &.lieu:before { content: "L : " counter(lieuCounter); }
        &.personal:before { content: "P : "; }
        &.sick:before { content: "S : "; }
        &.unofficial:before { content: "\263C  : " counter(unofficialCounter); }
        &.vacation:before { content: "V : "; }
        &.vacationToDate:before { content: "V To Date: "; }
        &.vacationCarryover:before { content: "VC : " counter(vacationCarryoverCounter); }
    }
}

[data-view="timeaway"] {
    [data-active="true"] > .info .counters {
        display:inline-block;
        float:left;
        margin-top:1px;
    }

    .info:focus .counters,
    .info:hover .counters {
    	display:inline-block;
    }
}
