[data-view="assignment"]{
    header {
        .menu {
            button.changeView span {
                background:#ef741b;
                border:2px solid #B95502;
            }
        }

        .dateMarker {
            height:20px;
        }
    }

    main {
        padding-top:153px;
    }

    [data-type="tile"] {
        background:rgba(255,204,102,.25);
        background: repeating-linear-gradient(
              -29deg,
              rgba(255,255, 255,1),
              rgba(255,255,255,.8) 6px,
              rgba(0,0,0,.25) 1px,
              rgba(255,255,255,.8) 7px
              );
        height:8px;
        &[data-y="15"]{ top:8px; }
        &[data-y="30"]{ top:16px; }
        &[data-y="45"]{ top:24px; }
    }

    [data-stamp="true"] {
        border:none;
        color:#fff;
        font-size:.8rem;
        line-height:180%;
        text-align:center;

        &:after {
            content:"???";
        }
        &:before {
            content:"Assignment was removed";
        }

        &:hover {
            &:before {
                display:block;
            }
        }
        &:before {
            background:#000;
            cursor:none;
            display: none;
            padding:0 5px 1px 5px;
            position:absolute;
            width:auto;
            white-space:nowrap;
            z-index:2;
        }
        &[data-y="45"]{
            &:before{
                top:-8px;
            }
        }
    }

    section.resourceRow {
        &[data-active="true"],
        &:hover {
            .row:hover {
                box-shadow:1px 5px 10px rgba(0,0,0,.5);
            }
        }

        &[data-active="true"]{
            > .row {
                [data-type="tile"] {
                    height:15px;
                    &[data-y="15"]{ top:15px; }
                    &[data-y="30"]{ top:30px; }
                    &[data-y="45"]{ top:45px; }
                }

                [data-stamp="true"]{
                    &:hover:before {
                        background:none;
                        content:"";
                    }
                }
            }
        }

        .tileOptions li {
            padding:0;
            position:relative;
        }
        .tiles [data-stamp="true"]{
            &:after {
                background:rgba(0,0,0,.4);
                cursor:none;
                left:0;
                line-height:100%;
                padding:0 2px;
                position:absolute;
                top:0;
                white-space:nowrap;
                z-index: 1;
            }
        }
    }

    #todayDateLine {
        &:before {
            top:147px;
        }
    }

    .tileOptions li {
        :hover { z-index:3; }
    }
}
