[data-view="timeaway"] {
    header {
        .menu {
            button.changeView span {
                background:#1f74f2;
                border:2px solid #0b3f92;
            }
        }
    }

    main {
        padding-top:165px;
    }

    section.resourceRow {
        .row[data-view="timeOff"] {
            height:15px;
        }

        &:not(.hidden):hover:after {
            display:none;
        }

        &[data-active="true"] {
            .row { height:15px; }
        }
    }//resourceRow

    [data-stamp="true"] {
        background:none;
        border:none;
        color:#fff;
        font-size:.8rem;
        line-height:180%;
        text-align:center;
    }

    [data-type="tile"] {
        z-index:1;
    }

    .bereavement {
        background:#871C00;
        &[data-stamp="true"]:after { content: "B"; }
    }

    .conference {
        background:#9C9E30;
        &[data-stamp="true"]:after { content: "C"; }
    }

    .firstDay {
        background:#718C00;
        &[data-stamp="true"]:after { content: "FD"; }
    }

    .half {
        background:#99CC99;
        &[data-stamp="true"]:after { content: "1/2"; }
    }

    .jury {
        background:#1A8007;
        &[data-stamp="true"]:after { content: "J"; }
    }

    .lastDay {
        background:#C82829;
        &[data-stamp="true"]:after { content: "LD"; }
    }

    .lieu {
        background:#8959A8;
        &[data-stamp="true"]:after { content: "L"; }
    }

    .parentalLeave {
        background:#b44970;
        &[data-stamp="true"]:after { content:'PL'; }
    }

    .personal {
        background:#B798BF;
        &[data-stamp="true"]:after { content: "P"; }
    }

    .vacation {
        background:#4271AE;
        &[data-stamp="true"]:after { content:'V'; }
    }

    .vacationCarryover {
        background:#3E999F;
        &[data-stamp="true"]:after { content: "VC"; }
    }

    .vacationTentative {
        background:#9F3E99;
        &[data-stamp="true"]:after { content: "V?"; }
    }

    .sick {
        background:#c1a;
        &[data-stamp="true"]:after { content: "S"; }
    }

    .training {
        background:#C99E00;
        &[data-stamp="true"]:after { content: "T"; }
    }

    .unofficial {
        background:#515151;
        &[data-stamp="true"]:after { content: "\263C"; }
    }

    .wfh {
        background:#F5871F;
        &[data-stamp="true"]:after { content:'R'; }
    }

    .tileOptions:hover {
        li {
            //padding-right:55px !important;
        }
    }

    .tileOptions li {
        position:relative;

        &:hover {
            .empty {
                position:absolute;
                right:10px;
            }
        }

        :hover { z-index:3; }

        .vacation:hover:before { content:"Vacation"; }
        .vacationCarryover:hover:before { content:"Carryover"; }
        .vacationTentative:hover:before { content:"Tentative Vacation"; }
        .unofficial:hover:before { content:"Unofficial Lieu Day"; }

        .sick { clear:left; }
        .sick:hover:before { content:"Sick Day"; }
        .personal:hover:before { content:"Personal Day"; }
        .lieu:hover:before { content:"Lieu Day"; }
        .wfh:hover:before { content:"Remote Work (WFH)"; }

        .conference { clear:left; }
        .conference:hover:before { content:"Conference"; }
        .training:hover:before { content:"Training"; }
        .half:hover:before { content:"Half Day"; }
        .bereavement:hover:before { content:"Bereavement"; }

        .parentalLeave { clear:left; }
        .parentalLeave:hover:before { content:"Parental Leave"; }
        .jury:hover:before { content:"Jury Duty"; }
        .firstDay:hover:before { content:"First Day"; }
        .lastDay:hover:before { content:"Last Day"; }
    }
}//data-view=timeaway
