[data-view="timeaway"] {
    header {
        .menu {
            button.changeView span {
                background:#1f74f2;
                border:2px solid #0b3f92;
            }
        }
    }
    section.resourceRow {
        .row {
            outline:none;
            height:15px;
        }

        &:after {
            background:#100;
            content: "";
            display:block;
            height:100%;
            opacity:.1;
            position:absolute;
            top:0;
            width:100%;
        }

        &:hover:after {
            display:none;
        }

        &[data-active="true"] {
            .row { height:15px; }
        }
    }//resourceRow

    [data-scope="text"],
    [data-stamp="true"] {
        background:none;
        border:none;
        color:#fff;
        font-size:.8rem;
        line-height:180%;
        outline:none;
        padding:0;
        text-align:center;
        width:15px;
    }

    [data-type="tile"] {
        z-index:1;
    }

    .empty {
        &[data-stamp="true"]:after { content: "\2002"; }
    }

    .bereavement {
        background:#871C00;
        &[data-stamp="true"]:after { content: "B"; }
    }

    .conference {
        background:#9C9E30;
        &[data-stamp="true"]:after { content: "C"; }
    }

    .empty {
        background: repeating-linear-gradient( -55deg, #222, #222 5px, #333 5px, #333 10px);
    }

    .firstDay {
        background:#718C00;
        &[data-stamp="true"]:after { content: "FD"; }
    }

    .half {
        background:#99CC99;
        &[data-stamp="true"]:after { content: "1/2"; }
    }

    .jury {
        background:#1A8007;
        &[data-stamp="true"]:after { content: "J"; }
    }

    .lastDay {
        background:#C82829;
        &[data-stamp="true"]:after { content: "LD"; }
    }

    .lieu {
        background:#8959A8;
        &[data-stamp="true"]:after { content: "L"; }
    }

    .parentalLeave {
        background:#b44970;
        &[data-stamp="true"]:after { content:'PL'; }
    }

    .personal {
        background:#B798BF;
        &[data-stamp="true"]:after { content: "P"; }
    }

    .vacation {
        background:#4271AE;
        &[data-stamp="true"]:after { content:'V'; }
    }

    .vacationCarryover {
        background:#3E999F;
        &[data-stamp="true"]:after { content: "VC"; }
    }

    .vacationTentative {
        background:#9F3E99;
        &[data-stamp="true"]:after { content: "V?"; }
    }

    .sick {
        background:#c1a;
        &[data-stamp="true"]:after { content: "S"; }
    }

    .training {
        background:#C99E00;
        &[data-stamp="true"]:after { content: "T"; }
    }

    .unofficial {
        background:#515151;
        &[data-stamp="true"]:after { content: "\263C"; }
    }

    .wfh {
        background:#F5871F;
        &[data-stamp="true"]:after { content:'R'; }
    }

    .tileOptions li {
        &:before { content:"Time Away: "; }

        .bereavement:hover:before { content:"Bereavement"; }
        .conference:hover:before { content:"Conference"; }
        .firstDay:hover:before { content:"First Day"; }
        .half:hover:before { content:"Half Day"; }
        .jury:hover:before { content:"Jury Duty"; }
        .lastDay:hover:before { content:"Last Day"; }
        .lieu:hover:before { content:"Lieu Day"; }
        .parentalLeave:hover:before { content:"Parental Leave"; }
        .personal:hover:before { content:"Personal Day"; }
        .vacation:hover:before { content:"Vacation"; }
        .vacationCarryover:hover:before { content:"Carryover"; }
        .vacationTentative:hover:before { content:"Tentative Vacation"; }
        .sick:hover:before { content:"Sick Day"; }
        .training:hover:before { content:"Training"; }
        .unofficial:hover:before { content:"Unofficial Day Off"; }
        .wfh:hover:before { content:"Remote Work (WFH)"; }
    }
}//data-view=timeaway

/*
.active [data-view="vacationView"] .lieu:hover:after { content: "L"; }
.active [data-view="vacationView"] .lastDay:hover:after { content: "LD"; }
.active [data-view="vacationView"] .jury:hover:after { content: "J"; }
.active [data-view="vacationView"] .half:hover:after { content: "1/2"; }
.active [data-view="vacationView"] .firstDay:hover:after { content: "FD"; }
.active [data-view="vacationView"] .bereavement:hover:after { content: "B"; }
.active [data-view="vacationView"] .parentalLeave:hover:after { content:'PL'; }
.active .conference:hover:after { content: "C"; }
.active [data-view="vacationView"] .personal:hover:after { content: "P"; }
.active .training:hover:after { content: "T"; }
.active [data-view="vacationView"] .vacation:hover:after { content: "V"; }
.active [data-view="vacationView"] .vacationCarryover:hover:after { content: "VC"; }
.active [data-view="vacationView"] .vacationTentative:hover:after { content: "V?"; }
.active [data-view="vacationView"] .unofficial:hover:after { content: "\263C"; }
.active [data-view="vacationView"] .wfh:hover:after { content:'R'; }
.active [data-view="vacationView"] .sick:hover:after { content: "S"; }

.personal.counter:after { content: "P : " counter(personalCounter); }
.vacation.counter:after { content: "V : " counter(vacationCounter); }
.vacationCarryover.counter:after { content: "VC : " counter(vacationCarryoverCounter); }
.unofficial.counter:after { content: "\263C  : " counter(unofficialCounter); }
.sick.counter:after { content: "S : " counter(sickCounter); }
.lieu.counter:after { content: "L : " counter(lieuCounter); }
*/

/*
.textContainer [data-scope="text"] {
	background:#333;
	font-size:.6em;
	line-height:100%;
	margin:0;
	padding:0 2px;
}

.row { counter-reset: vacationCounter vacationCarryoverCounter sickCounter lieuCounter personalCounter unofficialCounter; }
.vacationView .textContainer [data-scope="text"] { background:none;border:none;font-size:.8rem;outline:none;width:15px;text-align:center;margin:0;line-height:180%;padding:0; }
.vacationView .counter {
	border:1px solid #fff;
	display:inline-block;
	margin-top:2px;
	padding:1px 2px;
}

.active [data-view="vacationView"] .tileContainer span:hover:after {
	color:#fff;
	display:block;
	font-size:.8rem;
	text-align:center;
}

#projectList [data-scope="text"], #vacationList [data-scope="text"] { position:relative; }
#projectList [data-scope="text"]:hover:before, #vacationList [data-scope="text"]:hover:before {
	background:#fff;
	border:1px solid #000;
	border-radius:5px;
	bottom:-3.5em;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
	color:#000;
	content: "Delete";
	float:left;
	height:1.5em;
	left:50%;
	line-height:125%;
	padding:5px;
	position:absolute;
	white-space:nowrap;
}

.active > [data-view="vacationView"] [data-type="tile"] { z-index:999;}

[data-view="vacationView"] .holiday { background:#af0b1c;opacity:.8; }
[data-view="vacationView"] .holiday:after { content:"";color:#fff;display:block;font-size:.8rem;text-align:center; }
*/
