section.resourceRow {
    .directs {
        margin-left:1px;
        position:relative;

        &:before {
            background:#fff;
            content:"";
            height:100%;
            margin-left:-1px;
            position:absolute;
            top:-24px;
            width:2px;
            z-index:4;
        }

        .info {
            margin-left:-50px;

            &:after { // horizontal tree line
                background:#fff;
                content:"";
                height:2px;
                left:-19px;
                position:absolute;
                top:6px;
                width:20px;
            }
        }

        .directs {
            &:before { margin-left:19px; }
            .info { margin-left:-30px;}
        }
    }// directs

    &[data-expanded] {
        :not(.directs) .info {
            //background:red;
        }
    }
}// resourceRow
