[data-editing="true"] {
    .viewOptions {
        display:none !important;
    }

    .tileOptions,
    .editing .viewOptions {
        display:block !important
    }

    section.resourceRow {
        &:not([data-active=true]){
            opacity:.3;
        }
    }
}
