header {
    background:#fff;
    border-left:69px solid #fff;
    border-top:15px solid #fff;
    left:0;
    position:fixed;
    width:100%;
    z-index: 10;

    #yearContainer {
        left:15px;
        position:fixed;
        top:.25em;
        z-index: 4;

        .year {
            clear:both;
            color:#fff;
            float:left;
            font-weight:bold;
            text-decoration:none;

            &#yearCurrent{
                background:#000;
                font-size:1.5em;
                padding:5px;
            }

            &#yearPrev, &#yearNext{
                background:#888;
                margin:2px 0;
                padding:2px;

                &:hover {
                    background:#fff;
                    color:#888;
                }
            }

            &#yearPrev {
                margin-left:-.5em;
            }

            &#yearNext {
                float:right;
                margin-right:-.5em;
            }
        }
    }

    .menu {
        margin-left:25px;
        position:fixed;
        width:100%;
        z-index:4;

        .viewOptions {
            float:left;
            margin-left:10px;
            padding-top:12px;

            button {
                float:left;
                margin-left:10px;

                span {
                    border:2px solid;
                }

                &#details span {
                    background:#30D4DE;
                    border-color:#1D969E;
                }

                &#dragDisable span {
                    background:#C75500;
                    border-color:#923C01;
                }

                &#dragEnable span {
                    background:#C75500;
                    border-color:#923C01;
                }
            }

            li {
                display:inline-block;
                float:none;

                a {
                    cursor:none;
                    font-size:2em;

                    &:hover {
                        box-shadow:0 0 5px 5px rgba(250,0,250,.1);
                        border:1px solid rgba(250,0,250,.3);
                        border-radius:5px;
                        transform:scale(1.5);
                    }
                }
            }
        }// viewOptions

        .tileOptions {
            li:not(:hover) {
                display: block;
                height:39px;
                overflow:hidden;
                padding:0;
                width:52px;

                .tileContainer {
                    display:block;
                    float:none;

                    a {
                        border-color:transparent !important;
                        display:block;
                        height:8px;
                        opacity:.7;
                        width:8px;

                        span {
                            padding:0;
                        }
                        &:after {
                            content:"";
                        }
                    }
                }
            }
        }
    }//.menu

    .message {
        border:3px solid #ff0000;
        border-radius:5px;
        float:left;
        min-height:25px;
        padding:4px 8px;
        position:relative;
        display:table-cell;
        vertical-align:middle;

        &:before {
            background:#ff0000;
            border:2px solid #fff;
            border-left:none;
            border-right:none;
            content:"!";
            color:#fff;
            font-weight:bold;
            font-size:1.5em;
            left:-9px;
            position:absolute;
            top:2px;
            width:8px;
            text-align:center;
            padding:2px 1px 2px 0;
        }

        p {
            line-height:110%;
            margin:5px 0;

            &:first-child {
                margin-top:0;
            }

            &:last-child {
                margin-bottom:0;
            }
        }

        ul {
            margin-left:15px;
            li {
                line-height:110%;
                list-style:disc;
                margin:4px 0;
            }
        }

        &.notFound, &.emptyTeam {
            margin:-6px 0 0 25px;
        }
    }

}//header

#pageContainer {
    header {
        .viewOptions {
            margin-top:-10px;

            li {
                height:40px;
                margin-right:20px;
                width:50px;

                a {
                    background:transparent;
                    height:40px;
                    left:0;
                    position:absolute;
                    top:0;
                    width:50px;
                }
            }

            .toggle {
                &:hover a:after, a:after {
                    background:#799AFF;
                }

                a {
                    font-size:2.5em;
                    position:absolute;

                    &:after, &:before { top:60%; }

                    &:focus, &:hover {
                        &:after { // pupil
                            animation: lookAround 2500ms infinite linear;
                        }
                    }
                    .text {
                        font-size:.3em;
                    }

                    @keyframes lookAround {
                        20% { left:18px; }
                        80% { left:10px; }
                    }
                }//a
            }//toggle
        }//viewOptions
    }//header
}//pageContainer

#pageContainer[data-show-hidden="false"] {
    header {
        .viewOptions .toggle {
            span.eye {
                &:after {
                    border-left:5px solid red;
                    color:red;
                    content:"";
                    height:1.5em;
                    position:absolute;
                    left:23px;
                    top:-1px;
                    transform: rotate(40deg);
                    z-index:5;
                }
            }
        }//toggle
    }//header
}
