.lock {
    a {
        span{
            &:after, &:before {
                background:#fff;
                border-radius:3px;
                content:'';
                height:3px;
                left:8px;
                margin-top:-2px;
                position:absolute;
                top:50%;
                width:3px;
                z-index:10;
            }

            &:before {
                left:9px;
                width:1px;
                height:4px;
                margin-top:0;
            }
        }
    }

    a:after {
        background:#fff;
        border:2px solid #000;
        border-bottom:0;
        border-radius:5px 5px 0 0;
        height:5px;
        left:5px;
        margin-top:-11px;
        width:5px;
    }

    a:before {
        border-bottom:1px solid #fff;
        border-right:1px solid #fff;
        height:10px;
        left:3px;
        margin-top:-4px;
        width:13px;
    }

    a:active:after,
    a:focus:after,
    a:hover:after {
        border-color:#C55500;
        :after {
            background:#fff;
        }
    }

    a:focus:before,
    a:hover:before {
        background:#c55500;
        box-shadow:-1px 3px 1px 1px rgba(0, 0, 0, .3);
    }
}//locks
