.roadmap {
    .item {
        display:block;
        height:12px;
        position:absolute;

        &:before {
            background:rgba(0,0,0,.3);
            border-radius:2px;
            color:#fff;
            content:"";
            opacity:0;
            margin:1px 0 0 1px;
            padding:2px 2px 0 2px;
            position:absolute;
            font-size:8px;
        }

        &:nth-of-type(1) {
            background:#ABC123;
            width:55%;
        }
        &:nth-of-type(2) {
            background:#F9A;
            right:0;
            top:14px;
            width:75%;
        }
        &:nth-of-type(3) {
            background:#899AFF;
            margin-left:-10%;
            top:28px;
            width:90%;
        }
    } //item

    &:hover {
        .item {
            &:nth-of-type(1){
                &:before {
                    animation:roadmap1Text 3000ms infinite linear;
                }
            }

            &:nth-of-type(2){
                animation:roadmap2 2000ms infinite linear;
            }

            &:nth-of-type(3){
                animation:roadmap3 3500ms infinite alternate;

            &:before {
                content:"Req";
                opacity:1;
            }
            }

            &:before {
                display:inline-block;
            }
        }
    } //hover

    @keyframes roadmap1Text {
        10% {
            content:"W";
            opacity:.2;
        }
        20% {
            content:"WT";
            opacity:.6;
        }

        30%, 80% {
            content:"WTY";
            opacity:1;
        }
        81%, 100% {
            content:"";
            opacity:0;
        }
    }

    @keyframes roadmap2 {
        50%, 70% {
            width:100%;
        }
    }

    @keyframes roadmap3 {
        50%, 60% {
            margin-left:8px;
        }
    }
} //roadmap
