#pageContainer header .viewOptions {
    .org {
        a {
            &:after, &:before {
                background:none;
                border:1px solid #555;
                border-right:none;
                content:"";
                display:block;
                position:absolute;
            }
            &:after {
                height:22px;
                left:22px;
                top:8px;
                width:8px;
            }

            &:before {
                border-bottom:none;
                left:15px;
                width:7px;
            }

            .member {
                position:absolute;

                &:after, &:before {
                    border-radius:100%;
                    content:"";
                    display:block;
                    position:absolute;
                }
                &:after { //head
                    border:4px solid #99A;
                    left:3px;
                }

                &:before { //body
                    border:7px solid #99A;
                    border-bottom-color:transparent;
                    border-left-color:transparent;
                    transform:rotate(-45deg);
                    top:9px;
                }

                &:nth-of-type(1) {
                    top:12px;
                }

                &:nth-of-type(2) {
                    left:33px;
                    top:0;

                    &:after {
                        border-color:#AA7272;
                    }
                    &:before {
                        border-top-color:#AA7272;
                        border-right-color:#AA7272;
                    }
                }

                &:nth-of-type(3) {
                    left:33px;
                    top:22px;

                    &:after {
                        border-color:#CB89BB;
                    }

                    &:before {
                        border-top-color:#CB89BB;
                        border-right-color:#CB89BB;
                    }
                }
            }//member

            &:hover {
                &:after {
                    animation:vertical 2000ms infinite linear;
                }
                &:before {
                    animation:topHorizontal 2000ms infinite linear;
                }

                .member:nth-of-type(n+2) {
                    animation:person 2000ms infinite linear;
                }

                @keyframes topHorizontal {
                    0% { width:0; }
                    20%, 100% { width:7px; }
                }

                @keyframes vertical {
                    0%, 30% {
                        border-bottom-width:0;
                        border-top-width:0;
                        height:0;
                        top:19px;
                        width:0;
                    }
                    40% {
                        height:11px;
                        top:12px;
                        width:0;
                    }
                    45% {
                        height:22px;
                        top:8px;
                        width:0;
                    }
                    50%,100% {
                        border-bottom-width:1px;
                        border-top-width:1px;
                        width:8px;
                    }
                }//vertical

                @keyframes person {
                    0% {
                        opacity:0;
                    }
                    49% {
                        left:23px;
                        opacity:0;
                    }
                    70%, 100% {
                        left:33px;
                        opacity:1;
                    }
                }
            }
        }//a
    }//org
}//viewOptions
