html { font:62.5% Helvetica, Arial, sans-serif; }

body {
    float:left;font-size:1.2rem;

    &[data-overlay="true"] {
        &:before {
            content:'';
            background:rgba(0,0,0,.3);
            display:block;
            height:100%;
            position:fixed;
            width:100%;
            z-index:99;
        }

        section.resourceRow[data-active="true"] {
            z-index:inherit;
        }
    }
}

#pageContainer {
    margin-right:20px;
    margin:0 20px 0 70px;
    position:relative;

    main {
        border-top:0;
        border-bottom:1px solid #aaa;
        margin-bottom:45px;
        position:relative;
    }

    &[data-show-hidden="false"] {
        section.resourceRow.hidden {
            display:none;
        }
    }
}
