html { font:62.5% Helvetica, Arial, sans-serif; }

body {
    float:left;font-size:1.2rem;
    /*
    > .ember-view{
        overflow:hidden;
    }
    */
}

button {
    background:none;

    span {
        border-radius:5px;
        color:#fff;
        cursor: pointer;
        display:block;
        padding:5px;
        text-shadow: 1px 1px #666;
    }

    &:focus,
    &:hover {
        outline:0;
        span {
        	box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.6);
            border-color:#fff !important;
        }
    }
}

#pageContainer {
    margin-right:20px;
    margin:0 20px 0 70px;
    position:relative;

    main {
        border-top:0;
        border-bottom:1px solid #aaa;
        position:relative;
    }

    &[data-show-hidden="false"] {
        section.resourceRow.hidden {
            display:none;
        }
    }
}
