.overlay {
     background:#fff;
     box-shadow:0 0 5px 5px rgba(0,0,0,.3);
     padding:10px;
     position:absolute;
     z-index:100;
     
     form {
         div.form-group {
             margin-bottom:10px;

             label {
                 display:block;
                 margin-bottom:4px;

                 &:after {
                     content:": ";
                 }
             }
         }// div

         input {
             &[type="submit"] {
                 background:#3B3FFC;
                 border:1px solid #ddd;
                 border-radius:5px;
                 color:#fff;
                 opacity:.7;

                 &:focus {
                     border-color:#fff;
                     box-shadow:0 0 2px 2px rgba(0,0,0,.5);
                     opacity:1;
                     outline:none;
                 }
             }
         }
     }// form
}
