body{
    float:none;
}
#pageContainer {
    border:1px solid #eee;
    box-shadow:1px 1px 10px 5px rgba(0,0,0,.5);
    margin:10px auto;
    padding:10px;
    position:relative;
    width:405px;

    #header {
        margin-bottom:20px;

        #logo {
            display:block;
            float:right;
            top:20px;
        }

        #hamburger {
            left:10px;
            position:absolute;
            top:20px;
        }

        #digidollars {
            font-size:1.5em;
            left:50%;
            line-height:1.5em;
            margin-left:30px;
            position:absolute;
            top:120px;
            transform:rotate(35deg);
            z-index:11;
        }//digidollars
    }//#header

    header {
        border:0;
        padding:10px 0 0 0;
        position:relative;
        .menu {
            position:relative;
            .buttonContainer {
                position:relative;

                .viewOptions {
                    margin:0 auto;
                    width:100%;

                    .profile {
                        display:block;
                        left:10px;
                        margin:0 auto !important;
                        zoom:2;

                        &:before {
                            border:3px solid #000;
                            border-radius:100%;
                            content:"";
                            display:block;
                            left:-16px;
                            height:55px;
                            position:absolute;
                            top:-10px;
                            width:55px;
                        }
                        .person {
                            &.female {
                                left:-12px;
                            }
                        }

                    }//profile

                    .assignment {
                        background:transparent;
                        left:345px;
                        position:absolute;
                        top:-30px;

                        a {
                            &:hover {
                                .text {
                                    left:50px;
                                    top:40px;
                                }
                            }
                        }
                    }
                } // viewOptions

                .name {
                    padding:30px 0 0 0;
                    font-weight:bold;
                    font-size:1.8em;
                    text-align:center;
                }

                .custom {
                    left:-50px;
                    position:absolute;
                    top:0;

                    [data-element]{
                        position:absolute;

                        a {
                            border-radius:100%;
                            display:block;
                            height:15px;
                            margin:0 auto 5px auto;
                            width:15px;
                        }
                    }

                    [data-element="dress"]{
                        left:330px;
                    }

                    [data-element="hair"]{
                        left:60px;
                    }

                    [data-element="necklace"]{
                        top:65px;
                        left:60px;
                    }

                    [data-element="circle"]{
                        top:65px;
                        left:137px;
                    }

                    .label {
                        margin-bottom:5px;
                    }
                }
            }//buttonContainer
        }
    }//header
    main {
        border:0;
        margin-top:10px;
        #form {
            //border:1px solid red;
            padding:10px 0;
            margin:0 auto;
            width:80%;

            .item {
                margin-bottom:10px;
                label {
                    display:inline-block;
                    font-weight:bold;
                    width:45%;
                    text-align:right;
                    &.radio {
                        width:auto;
                    }
                }
                .input {
                    background:none;
                    padding:2px;

                    &:focus {
                        background:#fff;
                    }
                }
            }
            button {
                cursor:pointer;
                display:block;
                margin:0 auto;
                &#ok {
                    background:#ABC;
                    color:#fff;
                    border-radius:100%;
                    font-size:1.5em;
                    font-weight:bold;
                    height:2em;
                    width:2em;
                }
            }//button
        }//form
    }//main
}// pageContainer

[data-edit="true"] {
    ul.viewOptions .profile {
        a .person {
            &.female {
                z-index:2;
                .face {
                    animation:rotateFemale 700ms infinite linear;
                    &:before { // mouth
                        width:4px;
                        height:1px;
                        top:14px;
                        transform:rotate(0);
                    }
                }
                .hair:after {
                    animation:rotateFemaleHair 700ms infinite linear;
                }
            }
        }
    }
}

ul.steps {
    margin-top:30px;

    li {
        background:#eee;
        border:1px solid #000;
        border-radius:100%;
        line-height:1.5em;
        margin:0 5px 0 0;
        float:left;
        height:20px;
        width:20px;
        text-align:center;
    }
}
.star {
   position: absolute;
   display: block;
   color: #fff;
   font-size:2em;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid #ff6100;
   border-left:   100px solid transparent;
   transform:rotate(35deg);

   &.small {
       left:-31px;
       transform:scale(.1, .1) rotate(15deg);
       top:-4px;
   }

   &.large {
       transform:scale(.3, .3);
   }
}
.star:before {
   border-bottom: 80px solid #ff6100;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   transform:rotate(-35deg);
   z-index:-1;

}
.star:after {
   position: absolute;
   display: block;
   color: #ff6100;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid #ff6100;
   border-left: 100px solid transparent;
   transform:rotate(-70deg);
   content: '';
   z-index:-1;
}

.star div {
    font-size:2em;
    margin:.44em 0 0 -.25em;
    transform:rotate(-35deg);
}
