section.resourceRow {
    background:#eee;
    border:1px solid #aaa;
    box-sizing: border-box;
    border-bottom:none;
    margin-left:-2px;
    position:relative;

    .row {
    	position:relative;
    	height:32px;

        .pointer {
            box-shadow:0 0 10px 5px rgba(197,85,0,.7);
            display:none;
            height:12px;
            margin:1px 0 0 1px;
            opacity:1;
            outline:4px dotted #fff;
            position:absolute;
            width:12px;
            z-index:4;
        }

        .sizer {
            background:#fffc00;
            display:none;
            height:12px;
            opacity:.3;
            outline:4px dotted #000;
            position:absolute;
            width:12px;
            z-index:1;
         }

         &:hover {
            z-index:3;

            .holidayLine {
                border-bottom:1px solid #AAA;
                border-top:1px solid #AAA;
                height:15px;
                top:-1px;
            }
         }
    }// row

    // only add row shadow if it is not already active
    &:not([data-active="true"]) {
        .row {
            &:after {
                background:#100;
                content:"";
                display:block;
                height:100%;
                opacity:.1;
                position:absolute;
                top:0;
                width:100%;

                &:hover {
                    background:none;
                }
            }

            &:hover:after {
                background:none;
            }
        }
    }

    .info {
        border-left:70px solid transparent;
        cursor:default;
        display:inline-block;
        margin-left:-70px;
        position:absolute;
        top:0;
        z-index:3;

        .name {
            background:#000;
            border:1px solid #fff;
            border-left-width:2px;
            border-radius:2px;
            box-shadow:-10px 7px 10px 5px rgba(0, 0, 0, .7);
            color:#fff;
            float:left;
            font-weight:bold;
            letter-spacing:1px;
            padding:0 4px;
        }
    }

    &:hover {
        > .info .name {
            background:#c55500;
            text-shadow:none;
        }
    }

    &[data-active="true"] {
        border-top:25px solid #000;

        &:after {
            display:none;
        }

        > .row {
        	background:#ccc;
        	background-image:
        		linear-gradient(45deg, rgba(255,255,255,.3) 25%,
        						transparent 25%, transparent 75%,
        						rgba(255,255,255,.3) 75%,
        						rgba(255,255,255,.3)),
        		linear-gradient(45deg, rgba(255,255,255,.3) 25%,
        						transparent 25%, transparent 75%,
        						rgba(255,255,255,.3) 75%,
        						rgba(255,255,255,.3));
        	background-position: 0 0, 15px 15px;
        	background-size: 30px 30px;
        	cursor:none;
            outline:3px solid #fff;
        	box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5);
            height:60px;
            z-index:4;

            &:before {
                background:repeating-linear-gradient(-45deg, #222, #222 10px, #333 10px, #333 20px);
                content:"";
                cursor:not-allowed;
                height:100%;
                opacity:.8;
                position:absolute;
            }

            .pointer {
                display:block;
            }

            .holidayLine {
                border:none;
                box-shadow:0px 1px 1px 1px #fff;
                height:15px;
                top:0;

                &:after {
                    color:#fff;
                    content:"H";
                }
            }
        }// row

        > .info {
            background:#fff;
            border-radius:2px;
            border-left-width:25px;
            box-shadow:none;
            margin-left:-25px;
            padding-right:10px;
            top:-23px;
            z-index:4;

            ul.viewOptions {
                width:20px;
                left:-20px;
            }

            .name {
                background:#c55500;
                box-shadow:none;
                color:#fff;
                font-size:120%;
                padding:2px 5px 0 5px;
                text-shadow:none;
            }
        }

        &[data-expanded="true"] {
            .directs {
                .resourceRow:first-of-type {
                    &:before {
                        z-index:3;
                    }
                }
            }
        }
    }//data-active

    &.hidden {
        .lock, .expand, .counters, .stiles { display:none; }
        .toggle { left:-20px; }
        .name { background:red; }
        &:after {
            background:#000;
            display:block;
            opacity:.8;
            width:100%;
            z-index: 2;
        }
    }
}//resourceRow
