// chicklet tiles used to paint into each row
.tileOptions {
    cursor:pointer;
    display:none;

    li {
         border:2px solid transparent;
         float:left;
         list-style:none;
         margin-right:5px;
         max-width:975px;
         padding:8px 10px 0 10px;
         position:absolute;

         &:before {
            float:left;
            font-weight:bold;
            margin:10px 5px 0 0;
         }

        [data-stamp="true"] {
            border:1px solid transparent;
            border-radius:5px;
            display:none;
            float:left;
            line-height:0;
        	margin:1px 0 0 1px;
            opacity:.4;
        	padding:1px;
            position:relative;
            text-decoration:none;
        	width:auto;
            white-space:nowrap;

            &:after {
                padding:5px;
                position:relative;
                top:-1.4em;
            }

            &[data-active="true"],
            &:focus,
            &:hover {
                border:1px solid #000;
                opacity:1;
                z-index:2;

                span {
                     display:block;
                     margin:3px;
                     padding:10px;
                }
                &:before {
                    background:#fff;
                    border:1px solid #000;
                    border-radius:5px;
                    bottom:-2.8em;
                    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
                    color:#000;
                    float:left;
                    font-size:1.5em;
                    left:0%;
                    line-height:125%;
                    padding:5px;
                    position:absolute;
                    white-space:nowrap;
                }
            }

            span {
                background:#000;
                border-radius:5px;
                display:block;
                padding:13px;
            }
            &.empty {
                background: repeating-linear-gradient( -55deg, #222, #222 5px, #333 5px, #333 10px);
                &[data-stamp="true"]:after { content: "\2002"; }
                span { background:none; }
            }

            &[data-active="true"]{
                display:block;
                opacity:1;
            }
        }//data-stamp="true"

        .empty:hover:before { content:"Delete"; }
    }//li
}

header {
    .tileOptions {
        &:focus,
        &:hover {
            outline:none;
            li {
                background:#eee;
                border-radius:5px;
                border-color:#aaa;
                cursor:pointer;
                padding-bottom:20px !important;
            }

            [data-stamp="true"] { display:inline-block; }

            + .buttonContainer { display:none; }
        }
    }
}
