[data-type="tile"] {
    height:15px;
    margin-left:-2px;
    position:absolute;
    width:15px;
}
/*
.projectView .tileContainer [data-type="tile"] { height:8px; }
.projectView .active > [data-view="projectView"] .tileContainer [data-type="tile"] { height:15px; }
*/
