[data-view="timeoff"] {
    section.resourceRow {
        .row {
            outline:none;
            height:15px;
        }

        &:after {
            background:#100;
            content: "";
            display:block;
            height:100%;
            opacity:.1;
            position:absolute;
            top:0;
            width:100%;
        }

        &:hover:after {
            display:none;
        }

        &[data-active="true"] {
            .row { height:15px; }
        }
    }//resourceRow

    [data-scope="text"] {
        background:none;
        border:none;
        color:#fff;
        font-size:.8rem;
        line-height:180%;
        margin:0;
        outline:none;
        padding:0;
        text-align:center;
        width:15px;
    }

    [data-type="tile"] {
        z-index:1;
    }

    .vacation {
        background:#4271AE;
        &[data-scope="text"]:after { content:'V'; }
    }
}//data-view=timeoff

//.active [data-view="vacationView"] .vacation:hover:after,
//.vacation.counter:after { content: "V : " counter(vacationCounter); }
#vacationList .vacation:hover:before { content:"Vacation"; }

/*

.row { counter-reset: vacationCounter vacationCarryoverCounter sickCounter lieuCounter personalCounter unofficialCounter; }
.vacationView .textContainer [data-scope="text"] { background:none;border:none;font-size:.8rem;outline:none;width:15px;text-align:center;margin:0;line-height:180%;padding:0; }
.vacationView .counter {
	border:1px solid #fff;
	display:inline-block;
	margin-top:2px;
	padding:1px 2px;
}

.active [data-view="vacationView"] .tileContainer span:hover:after {
	color:#fff;
	display:block;
	font-size:.8rem;
	text-align:center;
}

#projectList [data-scope="text"], #vacationList [data-scope="text"] { position:relative; }
#projectList [data-scope="text"]:hover:before, #vacationList [data-scope="text"]:hover:before {
	background:#fff;
	border:1px solid #000;
	border-radius:5px;
	bottom:-3.5em;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
	color:#000;
	content: "Delete";
	float:left;
	height:1.5em;
	left:50%;
	line-height:125%;
	padding:5px;
	position:absolute;
	white-space:nowrap;
}

.bereavement { background:#871C00; }
.active [data-view="vacationView"] .bereavement:hover:after,
.bereavement[data-scope="text"]:after { content: "B"; }
#vacationList .bereavement:hover:before { content:"Bereavement"; }

.firstDay { background:#718C00; }
.active [data-view="vacationView"] .firstDay:hover:after,
.firstDay[data-scope="text"]:after { content: "FD"; }
#vacationList .firstDay:hover:before { content:"First Day"; }

.jury { background:#1A8007; }
.active [data-view="vacationView"] .jury:hover:after,
.jury[data-scope="text"]:after { content: "J"; }
#vacationList .jury:hover:before { content:"Jury Duty"; }

.lastDay { background:#C82829; }
.active [data-view="vacationView"] .lastDay:hover:after,
.lastDay[data-scope="text"]:after { content: "LD"; }
#vacationList .lastDay:hover:before { content:"Last Day"; }

.half { background:#99CC99; }
.active [data-view="vacationView"] .half:hover:after,
.half[data-scope="text"]:after { content: "1/2"; }
#vacationList .half:hover:before { content:"Half Day"; }

.lieu { background:#8959A8; }
.active [data-view="vacationView"] .lieu:hover:after,
.lieu[data-scope="text"]:after { content: "L"; }
.lieu.counter:after { content: "L : " counter(lieuCounter); }
#vacationList .lieu:hover:before { content:"Lieu Day"; }

.parentalLeave { background:#b44970; }
.active [data-view="vacationView"] .parentalLeave:hover:after,
.parentalLeave[data-scope="text"]:after { content:'PL'; }
#vacationList .parentalLeave:hover:before { content:"Parental Leave"; }

.personal { background:#B798BF; }
.active [data-view="vacationView"] .personal:hover:after,
.personal[data-scope="text"]:after { content: "P"; }
.personal.counter:after { content: "P : " counter(personalCounter); }
#vacationList .personal:hover:before { content:"Personal Day"; }

.sick { background:#c1a; }
.active [data-view="vacationView"] .sick:hover:after,
.sick[data-scope="text"]:after { content: "S"; }
.sick.counter:after { content: "S : " counter(sickCounter); }
#vacationList .sick:hover:before { content:"Sick Day"; }

.conference { background:#9C9E30; }
.active .conference:hover:after,
.conference[data-scope="text"]:after { content: "C"; }
#vacationList .conference:hover:before { content:"Conference"; }

.training { background:#C99E00; }
.active .training:hover:after,
.training[data-scope="text"]:after { content: "T"; }
#vacationList .training:hover:before { content:"Training"; }

.unofficial { background:#515151; }
.active [data-view="vacationView"] .unofficial:hover:after,
.unofficial[data-scope="text"]:after { content: "\263C"; }
.unofficial.counter:after { content: "\263C  : " counter(unofficialCounter); }
#vacationList .unofficial:hover:before { content:"Unofficial Day Off"; }

.wfh { background:#F5871F; }
.active [data-view="vacationView"] .wfh:hover:after,
.wfh[data-scope="text"]:after { content:'R'; }
#vacationList .wfh:hover:before { content:"Remote Work (WFH)"; }


.vacationCarryover { background:#3E999F; }
.active [data-view="vacationView"] .vacationCarryover:hover:after,
.vacationCarryover[data-scope="text"]:after { content: "VC"; }
.vacationCarryover.counter:after { content: "VC : " counter(vacationCarryoverCounter); }
#vacationList .vacationCarryover:hover:before { content:"Carryover"; }

.vacationTentative { background:#9F3E99; }
.active [data-view="vacationView"] .vacationTentative:hover:after,
.vacationTentative[data-scope="text"]:after { content: "V?"; }
#vacationList .vacationTentative:hover:before { content:"Tentative Vacation"; }

.active > [data-view="vacationView"] [data-type="tile"] { z-index:999;}

[data-view="vacationView"] .holiday { background:#af0b1c;opacity:.8; }
[data-view="vacationView"] .holiday:after { content:"";color:#fff;display:block;font-size:.8rem;text-align:center; }
*/
