<table class="edit">
    <thead>
        <tr>
            <th rowspan="2" style="border-left:5px solid #000;vertical-align:middle">Values</th>
            <th colspan="2" style="text-align:center">Preview</th>
        </tr>
        <tr>
            <th>Header</th>
            <th>Row</th>
        </tr>
    </thead>
    {{#each model as |assignment|}}
        {{assignment-edit assignment=assignment}}
    {{/each}}
</table>
