{{! do not move styles to component as it will cause multiple view renders}}
<style>
    .info { left:{{leftScroll}}px; }
</style>

<div id="pageContainer" data-view="{{viewType}}">
    {{header-section viewType=viewType}}

    <main class="viewType">
        {{resource-row model=model viewType=viewType}}
    </main>
</div>
