<div id="pageContainer" data-view="assignment" data-action="edit" data-show-hidden={{settings.showHiddenRows}} data-dragging={{constants.draggable}}>
    {{header-section addAssignment="addAssignment"}}
    <main>
        {{outlet}}
    </main>
</div>
